.one {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}


.one h1{
    position: absolute;
    top: 200px;
    left: 300px;
    transform: translate(-50%, -50%);
    color: rgb(15, 13, 13);
    
    font-weight: bold;
    
    padding: 8px 12px;
    border-radius: 5px;
}
.one p{
    position: absolute;
    top: 350px;
    left: 300px;
    margin-left: 300px;
    transform: translate(-50%, -50%);
    color: rgb(15, 13, 13);
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    line-height: 30px;
}
.para{
  float:left;
  width:800px;
  margin-left: 100px;
  line-height: 30px;
  font-size: 20px;
  padding: 50px;
}
.second li{

  list-style-type:none;
  text-decoration: none;
}
.second ul{
justify-content: space-around;
display: flex;
margin:20px;
justify-content:space-around;

}

.second img{
  width: 50px;
  position: absolute;
  left:40px;
  top:10px;

}
.bharathi{
  position:absolute;
  top:1px;
  left:100px;
  
}
.second{
margin-right:500px;
width: 200vh;


}
.images1 img{
  width:230px;
  height: 230px;
  position: relative;
  top: 170px;
  border: 2px solid black;
  animation: moveB 2s ease-in-out 1s infinite alternate;
  margin-bottom: 200px;
}
.images2 img{
  width:230px;
  height: 230px;
  position: relative;
  top:100px;
  border: 2px solid black;
  animation: move 2s ease-in-out 1s infinite alternate;
  
}
.images3 img{
  width:200px;
  height: 200px;
  position: relative;
  left:250px;
  top:-250px;
  border: 2px solid black;
  animation: moveBox 2s ease-in-out 1s infinite alternate;
  margin-bottom: 200px;
}
@keyframes moveBox{
  from{left:10px;
}
to{
  left: 300px;
}
}
 
@keyframes move{
  from {
    transform:translateY(100px);
  }
  to{
    transform: translateY(0);
  }
}
 @keyframes moveB{
  from {
    transform:translateY(0);
  }
  to{
    transform: translateY(100px);
  }
}
.footer {
  background-color: cornflowerblue;
  width: 100%;         
  height: 500px;
  margin-top: 100px;
  border-radius: 5px;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;  
}

.footer img{
  width: 50px;
  position: relative;
  top: 70px;
  left: 110px;
}
.gowsalya{
  position: relative;
  top:5px;
  left:170px;
}
.advertisment img{
      width:150px;
      height: 150px;
      padding: 20px;
      position: absolute;
      top:0%;
      background-color:rgb(253, 248, 248);
      animation: myAnimation  10s linear  infinite ;
      animation-direction: normal;
      position: relative;
    }
    @keyframes myAnimation {
  0% {
    transform: translateX(-250px);
  }
  100% {
    transform: translateX(calc(100vw + 250px));
  }
}


.advertisment {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.advertisment:hover img {
  animation-play-state: paused;
}
.ad-content {
  text-align: center;
  padding: 40px 20px;
}

.ad-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.ad-content p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 24px;
  color: #555;
  line-height: 1.6;
}


.para{
  margin-left:50px;
  position: relative;
  top:-30px;
  font-size: 16px;

}
.footer ul{
  list-style-type: none;
  line-height: 2.0;
  position: relative;
  right: 350px;
  top:-30px;
}
.links{
  list-style-type: none;
  line-height: 2.0;
  position: relative;
  left: 200px;
  top:-145px;
}
.contact{
    
  line-height: 2.0;
  font-size: 16px;
  list-style-type:none;
  position:absolute;
  left:1000px;
  bottom: -1960px;
 
}
.buttom{
  position: relative;
  bottom: -300px;
  right:850px;
}