html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;  
}


.second li{

  list-style-type:none;
  text-decoration: none;
}
.second ul{
justify-content: space-around;
display: flex;
margin:20px;
justify-content:space-around;

}

.second img{
  width: 50px;
  
  position: absolute;
  left:40px;
  top:10px;

}
.bharathi{
  position:absolute;
  top:0px;
  left:85px;
  
}
body{
  background-image: url("institute.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.second{
  margin-right: 500px;

}.one {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}


.one h1{
    position: absolute;
    top: 200px;
    left: 300px;
    transform: translate(-50%, -50%);
    color: rgb(15, 13, 13);
    
    font-weight: bold;
    font-size: 50px;
    padding: 8px 12px;
    border-radius: 5px;
}
.one p{
    position: absolute;
    top: 350px;
    left: 335px;
    margin-left: 300px;
    transform: translate(-50%, -50%);
    color: rgb(15, 13, 13);
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    line-height: 30px;
}
.h1 .h{
  position: absolute;
  top:850px;
  left:390px;
  font-size: 40px;
}
.h1 .p{
  position: absolute;
  top:950px;
  left:350px;
}