.one img{
    width:1500px;
    height:700px;
    opacity: 0.9;

}
.one h1{
    position: absolute;
    top: 200px;
    left: 300px;
    transform: translate(-50%, -50%);
    color: rgb(15, 13, 13);
    
    font-weight: bold;
    
    padding: 8px 12px;
    border-radius: 5px;
}
.one p{
    position: absolute;
    top: 350px;
    left: 300px;
    margin-left: 300px;
    transform: translate(-50%, -50%);
    color: rgb(15, 13, 13);
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    line-height: 30px;
}
.para{
  float:left;
  width:800px;
  margin-left: 100px;
  line-height: 30px;
  font-size: 20px;
  padding: 50px;
}
.second li{

  list-style-type:none;
  text-decoration: none;
}
.second ul{
justify-content: space-around;
display: flex;
margin:20px;
justify-content:space-around;

}

.second img{
  width: 50px;
  position: absolute;
  left:40px;
  top:10px;

}
.bharathi{
  position:absolute;
  top:1px;
  left:100px;
  
}
.second{
margin-right: 500px;


}
.images1 img{
  width:230px;
  height: 230px;
  position: relative;
  top: 170px;
  border: 2px solid black;
  animation: moveB 2s ease-in-out 1s infinite alternate;
  margin-bottom: 200px;
}
.images2 img{
  width:230px;
  height: 230px;
  position: relative;
  top:100px;
  border: 2px solid black;
  animation: move 2s ease-in-out 1s infinite alternate;
  
}
.images3 img{
  width:200px;
  height: 200px;
  position: relative;
  left:250px;
  top:-250px;
  border: 2px solid black;
  animation: moveBox 2s ease-in-out 1s infinite alternate;
  margin-bottom: 200px;
}
@keyframes moveBox{
  from{left:10px;
}
to{
  left: 300px;
}
}
 
@keyframes move{
  from {
    transform:translateY(100px);
  }
  to{
    transform: translateY(0);
  }
}
 @keyframes moveB{
  from {
    transform:translateY(0);
  }
  to{
    transform: translateY(100px);
  }
}
.footer{
  background-color:cornflowerblue;
  width: 1500px;
  height: 500px;
  margin-top: 100px;
  
}
.footer img{
  width: 50px;
  position: relative;
  top: 70px;
  left: 110px;
}
.gowsalya{
  position: relative;
  top:0px;
  left:200px;
}
.advertisment img{
      width:150px;
      height: 150px;
      padding: 20px;
      position: absolute;
      top:0%;
      background-color:rgb(253, 248, 248);
      animation: myAnimation  6s linear  infinite ;
      animation-direction: normal;
      position: relative;
    }
    @keyframes myAnimation {
  0% {
    transform: translateX(-250px);
  }
  100% {
    transform: translateX(calc(100vw + 250px));
  }
}


.advertisment {
  width: 100%;
  overflow: hidden; 
  position: relative;
  cursor: pointer;
}